.chatroom {
  height: 80vh;
  background-color: #ecf0f1;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
}

.chatroom .chats {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0 0;
  height: 70vh;
  overflow-y: scroll;
}

.chatroom .chats .chat {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 5px 13px;
  font-size: 24px;
  border-radius: 10px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0;
  max-width: 200px;
}

.chatroom .chats .chat img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 0px;
}

.chatroom .chats .chat.right {
  float: right;
  clear: both;
  background-color: rgb(0,122,255);
  color: white;
}

.chatroom .chats .chat.left {

}

.chatroom .chats .chat a {
  text-decoration: none;
  color:#3498DB;
}

.chatroom input {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chatroom .sendMsg {
  width: 100%;
  height:40px;
}