@media (max-width: 768px) {

    p{
       font-size: 1.1em !important;
    }

}


@media (max-width: 984px) {

    .header{
        margin-top: 50px !important;
    }



}

@media (max-width: 426px) {

    .subHeader{
        width: 100% !important;
    }

}

.btn:focus,.btn:active {
    outline: none !important;
}


.subHeader{
    width: 85%;
    margin-top: 50px;
}